head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  link(rel='stylesheet', type="text/css" , href="style/login.css")
  title Document
  style.
    .root {
    background-image: url('../images/login.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    }
    .wrapper {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    }
    .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .form-wrapper input {
    width: 250px;
    height: 40px;
    margin: 10px;
    padding-left: 15px;
    border: none;
    border-left: 7px solid gray;
    border-radius: 8px;
    transition: all 0.3s;
    }
    .form-wrapper input:focus {
    width: 300px;
    }
    .form-wrapper .forgot {
    font-size: 14px;
    padding-left: 180px;
    }
    .form-wrapper .btn {
    width: 150px;
    margin-top: 18px;
    border: 3px solid #bbb;
    font-size: 18px;
    transition: all 0.3s;
    color: #bbb;
    }
    .form-wrapper .btn:hover {
    background-color: #ccc;
    color: black;
    }
    .wrapper-form {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 384px;
    height: 450px;
    }
    .wrapper-form .fill {
    color: #bbb;
    padding-top: 15px;
    }
    .root .wrapper h1 {
      padding-bottom : 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
.root
  .wrapper
    h1 Hey , stupid man ! ^_^
    if errors
        each err in errors
          .alert.alert-danger.errorfill= err
    .form-group.wrapper-form
      p.fill Why did you forget your password ? 
      div
        form.form-wrapper.form-group(method='POST')
          input(type='text', placeholder='Email', name='email', required)
          input(type='text', placeholder='Username', name='name', required)
          input(type='password', placeholder='New Password', name='pass', required)
          input(type='password', placeholder='New Password again', name='pass1', required)
          button.btn
            | Oke em oi